<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>Using AngularJS View/Controller</title>

    <script src="../libs/angular.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="SimpleController">
      Name:
      <br>
      <input ng-model="name" name="name">
      <ul>
        <li ng-repeat="customer in customers | filter:name">{{ customer.name }}</li>
      </ul>
    </div>

    <script>
        var demoApp =  angular.module('demoApp', []),
            controllers = {
              SimpleController: function ($scope) {
                $scope.customers = [
                  {
                    name: 'John Doe',
                    city: 'Atlanta'
                  },
                  {
                    name: 'Jane Doe',
                    city: 'New York'
                  },
                  {
                    name: 'Kevin Clark',
                    city: 'San Francisco'
                  },
                  {
                    name: 'Dragos Cifrea',
                    city: 'San Francisco'
                  }
                ]
              }
            }

        demoApp.controller(controllers);
    </script>

  </body>
</html>
